*{
padding:0;
margin: 0;
box-sizing: border-box;
}
.container{
    display:grid;
    grid-template-columns: 1fr 4fr;
   /* grid-template-rows:repeat(5,1fr);
    height: 100vh; */
}
/*
.header{
    display:grid;
  /*  grid-auto-flow: column; */
  /*  grid-column: 2/4;
   /* background-color: black; */
  /*  grid-row: 1/2; */
   /* justify-items: self-end; */
   /* gap:2px; */
   /* justify-content: left; */
  /*  grid-template-columns: repeat(2,1fr);
}
*/
/*
.search_icon {
    margin-left: auto;
}
*/
/*
.search_bar{
    margin-right: auto;
}
*/
/*
.header  {
    justify-self: self-start;
}
*/
/*
.header_top{
 display:grid;
 grid-auto-flow: column;
 grid-template-columns: 1fr 1fr;
 grid-column: 1/3;
}
*/

.top-left {
    display:grid;
    grid-column: 2/3;
    grid-template-columns: repeat(5, 1fr);
  /*  margin-left: auto; */
    column-gap:10px;
    row-gap: 20px;
}
img.search_icon{
    justify-self: right;
}
#searchbox {
   max-width: 400px;
    height:fit-content;
    margin-top:3px ;
    border-radius: 50px;
}
.bell {
    justify-self:end;
}
.top-left p {
    margin-right: auto;
}
.yellow2 {
    justify-self: end;
}
.left-oval, .central-oval, .right-oval {
    text-align: center;
    background-color: blue; 
    width:100px;
    height: 40px;
    border-radius: 45%;
}
/*
.top-right {
    display:grid;
    grid-column: 2/3;
    grid-auto-flow: column;
    justify-content: left; 
    gap:5px;
    place-items: center;
    margin-left: auto;
}
img.yellow {
    padding-top: 2px;
}
/*
.header_bottom{
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/3;
}
.bottom-left{
    display:grid;
    grid-auto-flow: column;
}

.bottom-left img {
    justify-self: end;
}
.left-text{
    display:grid;
    justify-self:start;
}

.text-top{
align-self: self-end;
}
.bottom-right {
    display: grid;
    grid-auto-flow: column;
    gap:20px;
    justify-content: center;
    align-items: center;
}
.left-oval, .central-oval, .right-oval {
    display: grid;
    background-color: blue;
    justify-content: center;
    align-items: center; 
    width:100px;
    height: 40px;
    border-radius: 45%;
   }
*/
.sidebar {
    display: grid;
    grid-column :1/2;
    grid-row: 1/8; 
    background-color:blue;
    grid-template-columns: 1fr  1fr;
    padding: 5px; 
    gap:10px;
}

.dashboard {
  
    margin-bottom: 25px;
}
p,img {margin-top: 10px;}

.communities,.communities+p {margin-bottom:  100px;}

.main {
    display: grid;
    background-color: lightyellow;
    grid-template-columns: 2fr 1fr;
}
.projects {
  /*  grid-column: 2/3; */
    display: grid;
  /*  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  */
  
    grid-template-columns: 1fr 1fr; 
    gap: 15px;
  }

  .pictures{
    display: grid;
  /*  grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(50px, 0.5fr));
  /*  justify-content: right; */
  }
  .pictures img {
    width:50%;
  }
  
  .projects .project {
    height: 200px;
    background-color: white;
  }
  .right-most{
    display:grid;
    gap: 10px;
  }
.announcements,.trending {
  /*  height:250px; */
    background-color:white ;
}